{% extends 'main.html' %}
{% load 'static' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-sm">
            <div class="card-header bg-dark text-white text-center py-3">
                <h4 class="mb-0">Not Yet signed in ? </h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-priamry w-100 fw-bold mt-3">Log in</button>

                </form>
                <div class="text-center mt-4">
                    <small class="text-muted">New user? <a href="{% url 'register' %}">Create an account</a></small>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}