{% extends 'main.html' %}
{% block content %}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card border-danger shadow-sm">
            <div class="card-header bg-dark text-white">
                <h5 class="card-title mb-0">Delete the task</h5>
            </div>
            <div class="card-body text-center py-4">
                <p class="lead">Do u want to delete the task:</p>
                <h4 class="text-dark fw-bold mb-4">"{{ task.title }}"?</h4>

                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light px-4 fw-bold border me-2">Delete it</button>
                    <a href="{% url 'task_list' %}" class="btn btn-light border px-4">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}